@mixin menu_size {
    width: 350px;
    height: 450px;
    box-shadow: 0 0 10px 1px grey;
}

@mixin menu_plat_price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    p {
        text-align: left;
        font-size: 1.2rem;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}
@mixin menu_container {
    width: 70%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 0 10px 1px grey;
}
@mixin centrer_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}