//couleur des titres
$header_color_h1: #FDCB46;

//couleur des backgrounds
$color_header_footer: #579C87;
$color_menu1_backg: #FCDFDB;
$color_menu2_backg: #FFF5FE;
$color_menu3_backg: #EBEBEB;
$color_menu4_backg: #FDFFFD;

//Mobile 
$smartphone : 720px;
$tablette : 1024;